{% macro generate_form(selected_database, selected_action) %}
{# INICIO: BUSINESS FORMS #}
{% if selected_database == 'business' and selected_action == 'add'%}
<form action="/business" method="POST">
<ul>
    <li>
        <label for="business_name">Name</label>
        <input id="business_name" name="name" type="text">
    </li>

    <li>
        <label for="business_state">State</label>
        <input id="business_state" name="state" type="text">
    </li>

    <li>
        <label for="business_representative">Representative</label>
        <input id="business_representative" name="representative" type="text">
    </li>

    <li>
        <label for="business_tel">Tel</label>
        <input id="business_tel" name="tel" type="tel">
    </li>
</ul>
    <button type="submit">Send</button>
</form>

{% elif selected_database == 'business' and selected_action == 'search_one'%}
<form action="/business/" method="GET">
    <ul>
        <li>
            <label for="business_id">ID</label>
            <input id="business_id" name="business_id" type="number">
        </li>
    </ul>
    <button type="submit">Send</button>
</form>

{% elif selected_database == 'business' and selected_action == 'update'%}
<form action="/business/update/" method="POST">
    <ul>
        <li>
            <label for="business_id">ID</label>
            <input id="business_id" name="id" type="number">
        </li>

        <li>
            <label for="business_name">Name</label>
            <input id="business_name" name="name" type="text">
        </li>
    
        <li>
            <label for="business_state">State</label>
            <input id="business_state" name="state" type="text">
        </li>
    
        <li>
            <label for="business_representative">Representative</label>
            <input id="business_representative" name="representative" type="text">
        </li>
    
        <li>
            <label for="business_tel">Tel</label>
            <input id="business_tel" name="tel" type="tel">
        </li>
    </ul>
    <button type="submit">Send</button>
    </form>


{% elif selected_database == 'business' and selected_action == 'delete'%}
<form action="/business/delete/">
    <ul>
        <li>
            <label for="business_id">ID</label>
            <input id="business_id" name="business_id" type="text">
        </li>
    </ul>
    <button type="submit">Send</button>
</form>
{# FIN: BUSINESS FORMS #}


{# INICIO: UNIT FORMS #}
{% elif selected_database == 'unit' and selected_action == 'add'%}
<form action="/units" method="POST">
<ul>
    <li>
        <label for="unit_vin">VIN#</label>
        <input id="unit_vin" name="vin" type="text">
    </li>

    <li>
        <label for="unit_make">Make</label>
        <input id="unit_make" name="make" type="text">
    </li>

    <li>
        <label for="unit_year">Year</label>
        <input id="unit_year" name="year" type="number">
    </li>

    <li>
        <label for="business_id">Business ID</label>
        <input id="business_id" name="id_business" type="number">
    </li>

    <li>
        <label for="insurance_id">Insurance ID</label>
        <input id="insurance_id" name="id_insurance" type="number">
    </li>
</ul>
<button type="submit">Send</button>
</form>

{% elif selected_database == 'unit' and selected_action == 'search_one'%}
<form action="/units/" method="GET">
    <ul>
        <li>
            <label for="unit_id">ID</label>
            <input id="unit_id" name="unit_id" type="number">
        </li>
    </ul>
    <button type="submit">Send</button>
</form>

{% elif selected_database == 'unit' and selected_action == 'update'%}
<form action="/units/update/" method="POST">
    <ul>
        <li>
            <label for="unit_id">ID</label>
            <input id="unit_id" name="id" type="number">
        </li>

        <li>
            <label for="unit_vin">VIN#</label>
            <input id="unit_vin" name="vin" type="text">
        </li>
    
        <li>
            <label for="unit_make">Make</label>
            <input id="unit_make" name="make" type="text">
        </li>
    
        <li>
            <label for="unit_year">Year</label>
            <input id="unit_year" name="year" type="number">
        </li>
    
        <li>
            <label for="business_id">Business ID</label>
            <input id="business_id" name="id_business" type="number">
        </li>
    
        <li>
            <label for="insurance_id">Insurance ID</label>
            <input id="insurance_id" name="id_insurance" type="number">
        </li>
    </ul>
    <button type="submit">Send</button>
    </form>

{% elif selected_database == 'unit' and selected_action == 'delete'%}
<form action="/units/delete/" method="GET">
    <ul>
        <li>
            <label for="unit_id">ID</label>
            <input id="unit_id" name="unit_id" type="number">
        </li>
    </ul>
    <button type="submit">Send</button>
</form>
{# FIN: UNIT FORMS #}


{# INICIO: INSURANCE FORMS #}
{% elif selected_database == 'insurance' and selected_action == 'add'%}
<form action="/insurance" method="POST">
    <ul>
        <li>
            <label for="insurance_name">Name</label>
            <input id="insurance_name" name="name" type="text">
        </li>
    
        <li>
            <label for="insurance_rate">Rate</label>
            <input id="insurance_rate" name="rate" type="text">
        </li>
    </ul>
    <button type="submit">Send</button>
</form>

{% elif selected_database == 'insurance' and selected_action == 'search_one'%}
<form action="/insurance/" method="GET">
    <ul>
        <li>
            <label for="insurance_id">ID</label>
            <input id="insurance_id" name="insurance_id" type="number">
        </li>
    </ul>
    <button type="submit">Send</button>
</form>

{% elif selected_database == 'insurance' and selected_action == 'update'%}
<form action="/insurance/update/" method="POST">
    <ul>
        <li>
            <label for="insurance_id">ID</label>
            <input id="insurance_id" name="id" type="number">
        </li>

        <li>
            <label for="insurance_name">Name</label>
            <input id="insurance_name" name="name" type="text">
        </li>
    
        <li>
            <label for="insurance_rate">Rate</label>
            <input id="insurance_rate" name="rate" type="text">
        </li>
    </ul>
    <button type="submit">Send</button>
</form>

{% elif selected_database == 'insurance' and selected_action == 'delete'%}
<form action="/insurance/delete/" method="GET">
    <ul>
        <li>
            <label for="insurance_id">ID</label>
            <input id="insurance_id" name="id" type="number">
        </li>
    </ul>
    <button type="submit">Send</button>
</form>
{# FIN: INSURANCE FORMS #}


{# INICIO: BUSINESS & INSURANCE FORMS #}
{% elif selected_database == 'business_insurance' and selected_action == 'add'%}
<form action="/bus_ins/add/" method="GET">
    <ul>
        <li>
            <label for="business_id">Business ID</label>
            <input id="business_id" name="business_id" type="number">
        </li>
        
        <li>
            <label for="insurance_id">Insurance ID</label>
            <input id="insurance_id" name="insurance_id" type="number">
        </li>
    </ul>
    <button type="submit">Send</button>
</form>

{% elif selected_database == 'business_insurance' and selected_action == 'delete'%}
<form action="/bus_ins/delete/" method="GET">
    <ul>
        <li>
            <label for="business_id">Business ID</label>
            <input id="business_id" name="business_id" type="number">
        </li>
        
        <li>
            <label for="insurance_id">Insurance ID</label>
            <input id="insurance_id" name="insurance_id" type="number">
        </li>
    </ul>
    <button type="submit">Send</button>
</form>
{# FIN: BUSINESS & INSURANCE FORMS #}
{% endif %}
{% endmacro %}

{% macro populate_response(database_response) %}
{{database_response}}
{% endmacro %}

